@charset "UTF-8";

/* ================================
 * BASE
 * ================================ */
body {
    background: linear-gradient(-90deg, #4CB8C4, #3CD3AD);
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Quicksand', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
a:link, a:visited, a:hover, a:active {
     color: #fff;
     text-decoration: none;
 }
h1 {
    font-size: 3.6rem;
}

/* ================================
 * COMMON
 * ================================ */
.heading {
    text-align: center;
    font-size: 2.4rem;
}
.section {
    padding: 64px;
}

/* ================================
 * HEADER
 * ================================ */
.header {
    padding: 0 64px;
}
.logo {
    width: 80px;
    vertical-align: middle;
}
.global-nav {
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 2.4rem;
}
.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    margin: 2px auto 0;
    border-bottom: 1px solid #888;
    transition: width 0.3s ease-in-out;
}
.nav-item a:hover::after {
    width: 100%;
}

/* ================================
 * HERO
 * ================================ */
.hero {
    height: 720px;
}
.copy {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Safari用 */
    transform: translateY(-50%);
}
.sns-button {
    margin-right: 12px;
}
.sns-img {
    width: 50px;
    height: 50px;
}

/* ================================
 * PORTFOLIO
 * ================================ */
.portfolio {
    background: #ffffff;
    color: #000000;
    text-align: center;
}
.port-item {
    margin: 16px 0;
}
.icon-port {
    width: 180px;
    height: 180px;
}

/* ================================
 * EXPERIENCE
 * ================================ */


/* ================================
 * SKILL
 * ================================ */
.skill {
    background: #ffffff;
    color: #000000;
    text-align: center;
}
.skill-img {
    width: 100px;
    height: 100px;
}


/* ================================
 * ABOUT ME
 * ================================ */


/* ================================
 * FOOTER
 * ================================ */
.footer {
    height: 36px;
    background: #535353;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
}
